/* 1. შექმენი ორი div და გამოიყენე margin, რომ მათ შორის 30px დაშორება იყოს. */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#div{
    margin-bottom: 18px;
    background-color: red;
    border: 3px solid black;
    height: 50px;
    width: 50px;
}
#div1{
     margin-top: 18px; 
    background-color: blue;
    border: 3px solid black;
    height: 50px;
    width: 50px;
}
