@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(47, 88%, 63%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#big_box{
    height: 480px;
    width: 350px;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 15px;
    flex-direction: column;
    font-family: "Outfit", sans-serif;
    border: 1px solid black;
   border-width: 1px 8px 8px 1px;
    border-radius: 20px;
   

}
#picture{
    height: 187px;
    width: 310px;
    border-radius: 20px;
    padding-left: 9px;
    
 

}
#text{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#p1{
    font-size: 14px;
    font-weight: 600;
    background-color: hsl(47, 88%, 63%);
    width: 60px;
    height: 17px;
}
#p2{
    font-size: 14px;
}
#p3{
    font-size: 14px;
    color: hsl(0, 0%, 42%);
}
#p4{
    font-size: 14px;
    font-weight: 600;
}
#big_text{
    font-size: 20px;
    font-weight: 800;
}
#avatar{
    width: 25px;
    height: 25px;
}