*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#big_box{
    background-color: green;
    width: 300px;
    height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#medium_box{
    background-color: forestgreen;
    width: 200px;
    height: 200px;
}
#small_box{
    background-color: yellow;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100px;
    height: 100px;

}
