/* 11) შექმენით nav და გაუწერეთ font-size: 26px;. შიგნით შექმენით ul და გაუწერეთ მშობლის 90% ზომა.

12) შექმენით footer და გაუწერეთ font-size: 38px;. შიგნით შექმენით p და გაუწერეთ მშობლის 110% ზომა.

13) შექმენით aside და გაუწერეთ font-size: 42px;. შიგნით შექმენით h5 და გაუწერეთ მშობლის 70% ზომა.

14) შექმენით div და გაუწერეთ font-size: 34px;. შიგნით შექმენით input და გაუწერეთ მშობლის 1.2-ჯერ დიდი ზომა.

15) შექმენით form და გაუწერეთ font-size: 20px;. შიგნით შექმენით label და გაუწერეთ მშობლის 1.5-ჯერ დიდი ზომა.

16) შექმენით section და გაუწერეთ font-size: 64px;. შიგნით შექმენით h1 და გაუწერეთ მშობლის ნახევარი ზომა.

17) შექმენით div და გაუწერეთ font-size: 18px;. შიგნით შექმენით span და გაუწერეთ მშობლის 3-ჯერ დიდი ზომა.

18) შექმენით article და გაუწერეთ font-size: 45px;. შიგნით შექმენით p და გაუწერეთ მშობლის 40% ზომა.

19) შექმენით main და გაუწერეთ font-size: 52px;. შიგნით შექმენით button და გაუწერეთ მშობლის 150% ზომა.

20) შექმენით div და გაუწერეთ font-size: 22px;. შიგნით შექმენით strong თეგი და გაუწერეთ მშობლის 2.5-ჯერ დიდი ზომა. */

/* 11) */
#nav11{
    font-size: 26px;
}

#ul11{
    font-size: 90%;
}

/* 12) */
#footer12{
    font-size: 38px;
}

#p12{
    font-size: 110%;
}

/* 13) */
#aside13{
    font-size: 42px;
}

#h513{
    font-size: 70%;
}

/* 14) */
#div14{
    font-size: 34px;
}
#input14{
    font-size: 120%;
}

/* 15) */
#form15{
    font-size: 34px;
}


#label15{
    font-size: 150%;
}

/* 16) */
#secion16{
    font-size: 64px;
}

#h116{
    font-size: 50%;
}

/* 17) */
#div17{
    font-size: 18px;
}

#span17{
    font-size: 300%;
}

/* 18) */
#article18{
    font-size: 18px;
}

#p18{
    font-size: 40%;
}

/* 19) */
#main19{
    font-size: 52px;
}
#button19{
    font-size: 150%;
}

/* 20) */
#div20{
    font-size: 22px;
}
#strong20{
    font-size: 250%
    ;
}
