/* 1) შექმენით div და მაგ div-ს გაუწერეთ font-size: 40px;. მის შიგნით შექმენით p თეგი და გაუწერეთ მშობლის ნახევარი ზომა.

2) შექმენით section და გაუწერეთ font-size: 50px;. მის შიგნით შექმენით h2 თეგი და გაუწერეთ მშობლის 2-ჯერ დიდი ზომა.

3) შექმენით div და გაუწერეთ font-size: 30px;. მის შიგნით შექმენით span თეგი და გაუწერეთ მშობლის იგივე ზომა.

4) შექმენით article და გაუწერეთ font-size: 24px; მის შიგნით შექმენით p თეგი და გაუწერეთ მშობლის 1.5-ჯერ დიდი ზომა.

5) შექმენით div და გაუწერეთ font-size: 60px;. მის შიგნით შექმენით button თეგი და გაუწერეთ მშობლის მეოთხედი ზომა.

6) შექმენით main და გაუწერეთ font-size: 32px;. მის შიგნით შექმენით h3 თეგი და გაუწერეთ მშობლის 75% ზომა.

7) შექმენით section და გაუწერეთ font-size: 48px;. მის შიგნით შექმენით a თეგი და გაუწერეთ მშობლის 125% ზომა.

8) შექმენით div და გაუწერეთ font-size: 36px;. მის შიგნით შექმენით label თეგი და გაუწერეთ მშობლის 80% ზომა.

9) შექმენით article და გაუწერეთ font-size: 28px;. მის შიგნით შექმენით small თეგი და გაუწერეთ მშობლის 60% ზომა.

10) შექმენით div და გაუწერეთ font-size: 44px;. მის შიგნით შექმენით h4 თეგი და გაუწერეთ მშობლის 1.8-ჯერ დიდი ზომა. */


/* 1) */
#div1{
    font-size: 40px;
}

p1{
    font-size: 50%;
}

/* 2) */
#section1{
    font-size: 50px;
}
#h21{
    font-size: 200%;
}
/* 3) */
#div2{
    font-size: 30px;
}
span{
    font-size: 100%;
}
/* 4) */
#arcticle1{
    font-size: 24px;
}
#p2{
    font-size: 150%;
}
/* 5) */
#div3{
    font-size: 60px;
}
#button1{
    font-size: 25%;
}
/* 6) */
#main1{
    font-size: 32px;
}
#h31{
    font-size: 75%;
}
/* 7) */
#section2{
    font-size: 48px;
}
#a1{
    font-size: 125%;
}
/* 8) */
#div4{
    font-size: 48px;
}
#label1{
    font-size: 80%;
}
/* 9) */
#article2{
    font-size: 36px;
}
#small2{
    font-size: 60%;
}
/* 10) */
#div5{
    font-size: 44px;
}
#h4{
    font-size: 180%;
}