/* 1) შექმენით `h1` ელემენტი და გაუწერეთ ქვედა ხაზი (`underline`), `solid` სტილით და `blue` ფერით.

2) შექმენით `h2` ელემენტი და გაუწერეთ შუა ხაზი (`line-through`), `dashed` სტილით და `red` ფერით.

3) შექმენით `h3` ელემენტი და გაუწერეთ ზედა ხაზი (`overline`), `wavy` სტილით და `green` ფერით.

4) შექმენით `p` ელემენტი და გაუწერეთ ქვედა ხაზი (`underline`), `dotted` სტილით, `purple` ფერით და `3px` სისქით.

5) შექმენით `a` ელემენტი და გაუწერეთ ქვედა ხაზი (`underline`), `solid` სტილით, `orange` ფერით და `5px` სისქით.

6) შექმენით `span` ელემენტი და გაუწერეთ შუა ხაზი (`line-through`), `wavy` სტილით, `rgb(255, 0, 255)` ფერით და `5px` სისქით.

7) შექმენით `h4` ელემენტი და გაუწერეთ ზედა ხაზი (`overline`), `dashed` სტილით, `#00BFFF` ფერით და `4px` სისქით.

8) შექმენით `h5` ელემენტი და გამოიყენეთ `text-decoration: underline dotted brown 6px;`.

9) შექმენით `p` ელემენტი და გამოიყენეთ `text-decoration: line-through solid black 2px;`.

10) შექმენით `h1`, `h2` და `h3` ელემენტები:
    - `h1` → `underline dashed red`
    - `h2` → `line-through wavy blue`
    - `h3` → `overline dotted green 4px */
/* 1) */
#h11{
    text-decoration: underline solid blue;
}

/* 2) */
#h22{
    text-decoration: line-through dashed red;
}

/* 3) */
#h33{
    text-decoration: overline wavy green;
}

/* 4) */
#p4{
    text-decoration: underline dotted purple;
}

/* 5) */
#a5{
    text-decoration: underline solid orange;
}

/* 6) */
#span6{
    text-decoration: line-through wavy rgb(255, 0, 255);
}

/* 7) */
#h47{
    text-decoration: overline dashed #00BFFF 4px;
}

/* 8) */
#h58{
    text-decoration: underline dotted brown 6px;
}

/* 9) */
#p9{
    text-decoration: line-through solid black 2px;
}

/* 10) */
#h110{
    text-decoration: underline dashed red;
}
#h210{
    text-decoration: line-through wavy blue;
}
#h310{
    text-decoration: overline dotted green 4px;
}