/* 3)შექმენი 10 ცალი p თეგი,ყველას თეგს უნდა ქონდეს ერთნაირეი ფერი პირველ 5-ს უნდა ქონდეს ლურჯი უკანა ფერი ხოლო მეორე 5-ს უნდ ქონდეს წითელი უკანა ფერი(გამოიყენეთ კლასები)  */




.idk{
    color: black;
    
}
.blue{
    background-color: blue;
}

.red{
    background-color:red
}
