/* 1) შექმენით h1 ელემენტი და ტექსტი მთლიანად გადაიყვანეთ დიდ ასოებში (uppercase).
2) შექმენით p ელემენტი და ტექსტი მთლიანად გადაიყვანეთ პატარა ასოებში (lowercase).
3) შექმენით h2 ელემენტი და ტექსტის თითოეული სიტყვის პირველი ასო გადააკეთეთ დიდ ასოდ (capitalize).
4) შექმენით span ელემენტი, ჩაწერეთ ტექსტი პატარა ასოებით და text-transform-ის გამოყენებით გადააკეთეთ დიდ ასოებად.
5) შექმენით a ელემენტი, ჩაწერეთ ტექსტი დიდი ასოებით და text-transform-ის გამოყენებით გადააკეთეთ პატარა ასოებად. */

/* 1) */
#h11 {
    text-transform: uppercase;
}
/* 2) */
#p2 {
    text-transform: lowercase;
}
/* 3) */
#h23 {
    text-transform: capitalize;
}
/* 4) */
#span4 {
    text-transform: uppercase;
}
/* 5) */
#a5 {
    text-transform: lowercase;
}