*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: hsl(0, 0%, 8%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.box{
    background-color: hsl(0, 0%, 12%);
    width: 355px;
    height: 566px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;

  
}
#image{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    
}
#h2{
    color: white;
    font-weight: 700;
    
}
#h4{
    color: hsl(75, 94%, 57%);
    font-weight: 600;
    font-size: 14px;
}
#h3{
    color: white;
    font-weight: 400;
    font-size: 14px;
}
#div3{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.socials{
    width: 280px;
    height: 40px;
    background-color: hsl(0, 0%, 20%);
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    transition: 0.5s;
}
.socials:hover{
    background-color: hsl(75, 94%, 57%);
}
#div2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
